@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: rgb(46, 136, 195);
    font: normal 15pt montserrat;
}
header{
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 390px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.296);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
#txttabuada {
    width: 200px;
    height: 180px;
    overflow: auto;
}
#botao{
   background-color: rgb(59, 56, 56); 
   color: white;
   height: 25px;
   border-radius: 4px;
   cursor: pointer;
   font-family: montserrat;
}
#botao:hover{
    background-color: rgb(48, 47, 47);
 }